.discount-form {
	background: #153b83;
	padding: 55px 0;
	::placeholder {
		color: #6b8fd3;
	}
	&__title {
		@include font(46,48,700,$font: $roboto-c);
		margin: 24px 0;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
	}
	&__form {
		display: flex;
		flex-wrap: wrap;
		input,
		textarea {
			background: #01266e;
			color: #6b8fd3;;
			@include font(17,28,300);
			padding: 6px 10px;
			border: 0;
			flex-basis: 31.66666%;
			margin: 0 0 20px 2.5%;
			&:first-child {
				margin-left: 0;
			}
		}
		textarea {
			flex-basis: 100%;
			resize: none;
			margin: 0 0 28px 0;
			height: 100px;
		}
	}
}

/* REGISTRATION */
.reg-outer {
	padding: 20px 0 55px;;
}
.reg-form {
	display: flex;
	color: #1e1e1e;
	height: 365px;
	@include font(18,28);
	&__section {
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		&:first-child {
			flex-basis: 68%;
			.reg-form__item {
				width: 46%;
				margin: 0 4% 10px 0;
			}
		}
		&:last-child {
			flex-basis: 32%;
			.reg-form__item {
				margin-bottom: 25px;
				flex: 1;
			}
		}
	}
	&__item {
		flex-grow: 1;
		input,
		textarea {
			width: 100%;
			padding: 5px 10px;
			border: 0;
			background: #eef5fb;
		}
		textarea {
			height: 82%;
			resize: none;
		}
		.file {
			height: 100%;
			display: flex;
			flex-direction: column;
			&__item {
				display: inline-flex;
				flex: 1;
				flex-direction: column;
				justify-content: center;
				position: relative;
				background: #eef5fb;
				border: 3px dashed #6b8fd3;
				input {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					text-indent: -9999px;
					//z-index: 5;
					opacity: 0;
					.legacy & {
						text-indent: inherit;
						//z-index: 15;
						opacity: 1
					}
					&:focus+.txt {
						box-shadow: 0 0 0 3px #A6C8FF;
					}
				}
				.txt {
					//z-index: 10;
					text-align: center;
					justify-content: center;
					background: #eef5fb;
					display: inline-flex;
					height: 100%;
					flex-direction: column;
					flex: 1;
				}
			}
		}
	}
}


input {
	&[type=checkbox] {
		display: none;
		& + label {
			display: block;
			padding-left: 30px;
			position: relative;
			margin-bottom: 10px;
			&::before {
				content: " ";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				@include sprite($ico-checkbox-off)
			}
		}
		&:checked {
			& + label {
				&::before {
					@include sprite($ico-checkbox-on)
				}
			}
		}
	}
/*	&[type=radio] {
		display: none;
		& + label {
			display: inline-block;
			margin-left: 0;
			margin-bottom: 5px;
			&::before {
				content: "";
				display: inline-block;
				width: 20px;
				height: 20px;
				line-height: 20px;
				background: url(img/radio.png);
				vertical-align: bottom;
				margin-right: 10px;
			}
		}
		&:checked {
			& + label {
				&::before {
					background: url(img/radio-on.png);
				}
			}
		}
	}*/
}
