.discount-form {
	background: #153b83;
	padding: 55px 0;
	::placeholder {
		color: #6b8fd3;
	}
	&__title {
		@include font(46,48,700,$font: $roboto-c);
		margin: 24px 0;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
	}
	&__form {
		display: flex;
		flex-wrap: wrap;
		input,
		textarea {
			background: #01266e;
			color: #6b8fd3;;
			@include font(17,28,300);
			padding: 6px 10px;
			border: 0;
			flex-basis: 31.66666%;
			margin: 0 0 20px 2.5%;
			&:first-child {
				margin-left: 0;
			}
		}
		textarea {
			flex-basis: 100%;
			resize: none;
			margin: 0 0 28px 0;
			height: 100px;
		}
	}
}



input {
	&[type=checkbox] {
		display: none;
		& + label {
			display: block;
			padding-left: 30px;
			position: relative;
			margin-bottom: 10px;
			&::before {
				content: " ";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				@include sprite($ico-checkbox-off)
			}
		}
		&:checked {
			& + label {
				&::before {
					@include sprite($ico-checkbox-on)
				}
			}
		}
	}
/*	&[type=radio] {
		display: none;
		& + label {
			display: inline-block;
			margin-left: 0;
			margin-bottom: 5px;
			&::before {
				content: "";
				display: inline-block;
				width: 20px;
				height: 20px;
				line-height: 20px;
				background: url(img/radio.png);
				vertical-align: bottom;
				margin-right: 10px;
			}
		}
		&:checked {
			& + label {
				&::before {
					background: url(img/radio-on.png);
				}
			}
		}
	}*/
}
