/* TOP PANEL */
.top-panel {
	background: #6b8fd3;
	@include breakpoint(tablet){
		font-size: 0.9em;
	}
	&__inner {
		display: flex;
		align-items: center;
		@include breakpoint(mobile){
			flex-direction: column;
			align-items: stretch;
		}
	}
	&__item {
		color: #fff;
		&:first-child {
			line-height: 1.4;
			flex-basis: 65%;
			@include breakpoint(middle){
				flex-basis: 59%;
			}
			@include breakpoint(small) {
				font-size: 0.9em;
			}
		}
		&:last-child {
			flex-grow: 1;
			padding-left: 15px;
			@include breakpoint(mobile) {
				padding-left: 0;
			}
		}
	}
}

/* CONTROL-PANEL */

.control-panel {
	display: flex;
	margin-right: -20px;
	@include breakpoint(middle){
		margin-right: 0;
		font-size: 0.9em;
	}
	@include breakpoint(tablet) {
		justify-content: flex-end;
	}
	&__item {
		flex-grow: 1;
		text-align: right;
		@include breakpoint(tablet){
			flex-grow: unset;
		}
		.collaps &:first-child { // search open
			flex-grow: 50;
		}
		&:last-child { //mobile menu toghle
			display: none;
			@include breakpoint(middle){
				display: block;
			}
		}
	}
	&__link {
		flex-grow: 1;
		display: block;
		padding: 6px 20px 6px 35px;
		color: #fff;
		position: relative;
		transition: background 0.2s ease-in;
		.collaps & {
			display: inline-block;
			font-size: 0;
		}
		@include breakpoint(tablet){
			display: inline-block;
			font-size: 0;
		}
		&::before {
			content: " ";
			display: block;
			position: absolute;
			left: 15px;
			top: 12px;
			@include breakpoint(tablet){
				left: 20px;
			}
		}
		.collaps &::before{
			left: 20px;
		}
		&_search {
			&::before {
				@include sprite($ico-search);
			}
		}
		&_login {
			&::before {
				@include sprite($ico-key);
			}
		}
		&_reg {
			&::before {
				@include sprite($ico-lock);
			}
		}
		&:hover,
		&:active,
		&:focus {
			background: #4f699b;
		}
	}
}

/*SEARCH*/

.search {
	position: relative;
	display: inline-block;
	display: none;
	margin: 6px 0;
	width: 0px;
	@include breakpoint(small) {
		font-size: 0.9em;
	}
	&__input {
		padding: 0 30px 0 10px;
		background: #fff;
		border: 0;
		width:100%;
	}
	&__submit {
		position: absolute;
		top: 7px;
		right: 8px;
		border: 0;
		text-indent: -9999px;
		background: none;
		@include sprite($ico-search-blue);
	}
}

/*INNER*/
.site-logo {
	width: 165px;
	.cls-1{
		fill:#124c8e;
		transition: fill 0.3s ease-in;
	}
	.cls-2{
		fill:#373a3b;
	}
	@include breakpoint(mobile){
		width: 130px;
	}
	&:hover {
		.cls-1 {
			fill: $red;
		}
	}
}
.header-inner {
	display: flex;
	padding: 15px 0 7px;
	align-items: flex-end;
	@include breakpoint(middle){
		flex-wrap: wrap;
	}
	&__item {
		@include breakpoint(middle) {
			order: 2;
		}
		&:first-child {
			@include breakpoint(middle) {
				flex-grow: 1;
			}
		}
		&:last-child {
			margin: 0 0 10px 15px;
			@include breakpoint(mobile){
				font-size: 0.9em;
				margin: 0 0 10px 10px;
			}
			@include breakpoint(small){
				margin: 0 0 10px 0;
			}
		}
		&_nav {
			flex-grow: 1;
			margin: 0 15px;
			@include breakpoint(middle) {
				order: 1;
				margin: 0;
				width: 100%;
				position: relative;
				top: -15px;
			}
		}
	}
	&__logo {
		line-height: 0;
		margin-right: 15px;
		@include breakpoint(mobile) {
			margin-right: 10px;
		}
	}
	&__img {
		display: block;
		width: 100px;
		margin: 0 15px 10px;
		img {
			transition: transform 0.2s ease-in;
		}
		&:hover{
			img {
				transform: scale(1.1);
			}
		}
	}
	&__phone {
		@include font(20,30);
		color: #4e483c;
	}
	.btn {
		margin-top: 6px;
		width: 100%;
	}
}

