.about-block {
	padding: 15px 0 100px;
	background: url(../images/bkg-mblock.jpg) 50% 50% no-repeat, linear-gradient(to right, #fff 20%,#3c4a73 20%,#3c4a73 80%,#fff 80%);
	color: #fff;
	@include breakpoint(tablet){
		background: #6b8fd3;
		padding: 15px 0 50px;
	}
	.h2, h2 {
		color: #fff;
		line-height: 1;
	}
	p {
		@include font(18);
	}
	.btn {
		float: right;
	}
}

/* REASONS MOZAIK */
.reason-outer {

}
.reason {
	display: block;
	margin-top: 35px;
	margin-bottom: 15px;
	text-align: center;
	@include breakpoint(tablet){
		font-size: 0.9em;
	}
	&__img {
		position: relative;
		padding-bottom: 90px;
		margin-bottom: 10px;
		&::after {
			content: " ";
			position: absolute;
			display: block;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
	&__title {
		font-weight: 700;
		line-height: 1.375;
		color: #0c445e;
		text-transform: uppercase;
		margin-bottom: 5px;
		@include breakpoint(tablet) {
			text-transform: none;
		}
		span {
			display: block;
			@include breakpoint(tablet) {
				display: inline;
			}
		}
	}
	&__txt {
		@include font(14,22);
	}
	&:first-child {
		position: relative;
		.reason__img {
			text-align: center;
			padding: 0;
			img {
				display: inline-block;
			}
		}
		.text-outer {
			position: absolute;
			top: 35%;
			left: 0;
			right: 0;
			background: #fff;
			color: $header;
			padding: 5px 0;
			@include breakpoint(tablet) {
				top: 25%;
			}
		}
		.reason__title {
			@include font(32,30,700,$font: $roboto-c);
		}
		.reason__txt {
			@include font(30,30,$font: $roboto-c);
		}
	}
	&:hover {
		.reason__title {
			color: $red;
		}
	}
	&:nth-child(2){
		.reason__img::after {
			@include sprite($causes2);
		}
		&:hover {
			.reason__img::after {
				@include sprite($causes2-hov);
			}
		}
	}
	&:nth-child(3){
		.reason__img::after {
			@include sprite($causes3);
		}
		&:hover {
			.reason__img::after {
				@include sprite($causes3-hov);
			}
		}
	}
	&:nth-child(4){
		.reason__img::after {
			@include sprite($causes4);
		}
		&:hover {
			.reason__img::after {
				@include sprite($causes4-hov);
			}
		}
	}
	&:nth-child(5){
		.reason__img::after {
			@include sprite($causes5);
		}
		&:hover {
			.reason__img::after {
				@include sprite($causes5-hov);
			}
		}
	}
	&:nth-child(6){
		.reason__img::after {
			@include sprite($causes6);
		}
		&:hover {
			.reason__img::after {
				@include sprite($causes6-hov);
			}
		}
	}
	&:nth-child(7){
		.reason__img::after {
			@include sprite($causes7);
		}
		&:hover {
			.reason__img::after {
				@include sprite($causes7-hov);
			}
		}
	}
	&:nth-child(8){
		.reason__img::after {
			@include sprite($causes8);
		}
		&:hover {
			.reason__img::after {
				@include sprite($causes8-hov);
			}
		}
	}
}

/* DISCOUNT */

.discount {
	&__item{
		text-align: center;
		background: #fff;
		padding: 20px 10px;
		margin-bottom: 30px;
		text-transform: uppercase;
		color: $header;
	}
	&__logo {
		img {
			display: inline-block;
		}
	}
	&__company {
		@include font(18,22,$font: $roboto-c);
		margin: 5px 0;
	}
	&__scope {
		@include font(16,20,$font: $roboto-c);
		color: #777;
		text-transform: none;
	}
	&__prof {
		@include font(20,24,700,$font: $roboto-c);
		margin: 25px 0 7px;
	}
	&__val {
		@include font(60,60,700,$font: $roboto-c);
		color: $red;
	}
}

.top-img {
	min-height: 300px;
	margin-bottom: 20px;
	@each $i in exc, reg {
		&_#{$i} {
			background: url(../images/img-top-#{$i}.jpg) 100% 50% no-repeat, #153b83;
		}
	}
	&__inner {
		padding: 25px 0;
		width: 65%;
		color: #fff;
		p {
			margin: 30px 0;
			@include font(18,30,300);
		}
	}
	&__title {
		@include font(48, 50, 700, $font: $roboto-c);
		color: $header;
		text-transform: uppercase;
		margin: 20px 0;
		color: #fff;
		@include breakpoint(mobile){
			@include font(28,32,700,$font: $roboto-c);
		}
	}
}
