.site-nav{
	display: flex;
	margin-bottom: 30px;
	@include breakpoint(middle){
		flex-direction: column;
		background: #4f699b;
		padding: 15px 0;
		display: none;
		margin-bottom: 0;
	}
	@include breakpoint(mobile){
		margin: 0 -15px;
	}
	&__item {
		flex-grow: 1;
		a {
			color: $menu;
			line-height: 1.5;
			display: inline-block;
			position: relative;
			transition: all 0.4s linear;
			@include breakpoint(middle) {
				color: #fff;
				width: 100%;
				line-height: 2;
				text-decoration: underline;
				padding-left: 15px;
			}
			&::after {
				content: " ";
				position: absolute;
				bottom: 0;
				right: 0;
				left:  0;
				height: 1px;
				background: $menu;
				transition: all 0.3s ease-in;
				@include breakpoint(middle) {
					display: none;
				}
			}
			&:hover {
				color: $red;
				@include breakpoint(middle) {
					background: #6b8fd3;
					text-decoration: none;
					color: #fff;
				}
				&::after {
					height: 4px;
					right: -4px;
					left:  -4px;
					bottom: -2px;
					background: $red;
				}
			}
		}
	}
}
