@keyframes slideOutDown {
	from {
		transform: translateY(0);
		padding: 30px 40px 60px;
		font-size: inherit;
	}

	to {
		visibility: hidden;
		transform: translateY(calc(100% - 60px));
		padding: 0 7px 0;
		font-size: 0;
	}
}
@keyframes slideInUp {
	from {
		transform: translateY(calc(100% - 60px));
		visibility: hidden;
		padding: 0 7px 0;
	}

	to {
		transform: translateY(0);
		padding: 30px 40px 60px;
	}
}
.accordion-outer {
	background: #081420;
}
.accordion {
	height: 473px;
	max-width: 1399px;
	margin: 0 auto;
	display: flex;
	overflow: hidden;
	border-bottom: 3px solid #081420;
	border-right: 3px solid #081420;
	@include breakpoint(middle){
		flex-direction: column;
		height: auto;
		max-width: 590px;
		border-top: 3px solid #081420;
		border-right: 0;
	}
	&__item {
		border-left: 3px solid #081420;
		transition: all .4s ease-in;
		width: 12%;
		@include breakpoint(middle) {
			width: 100%;
			overflow: hidden;
			border-left: 0;
		}
		@for $i from 1 through 6 {
			&:nth-child(#{$i}){
				background: url(../images/accordion#{$i}.jpg) 50% 50% no-repeat;
			}
		}
		.service {
			display: table;
			width: 100%;
			height: 100%;
			color: #fff;
			&__inner {
				display: table-cell;
				vertical-align: bottom;
				position: relative;
			}
			&__content {
				animation: slideOutDown .4s linear forwards;
			}
			&__title {
				font-family: $roboto-c;
				@include fluidFontSize(18,22,1200,1400);
				visibility: visible;
				position: absolute;
				bottom: calc(100% + 30px);
				@include breakpoint(middle) {
					position: static;
					padding: 15px 0;
				}
			}
			&__list {
				margin: 0;
				line-height: 0;
				transition: all .4s ease-in;
			}
			&__btn {
				line-height: 0;
				transition: all .2s ease-in;
				.btn {
					padding: 0;
					border-width: 0;
					transition: all .2s ease-in;
				}
			}
		}
		&_act {
			width: 40%;
			@include breakpoint(middle) {
				width: 100%;
			}
			.service__content {
				animation: slideInUp .4s linear forwards;
			}
			.service__title {
				bottom: 100%;
				@include font(30,34);
			}
			.service__btn {
				line-height: 0;
				.btn {
					padding: 5px 15px!important;
					border-width: 3px!important;
					line-height: 1.875;
				}
			}
			.service__list{
				margin: 0.5em 0;
				line-height: 1.875;
			}
		}
	}
}
