@keyframes slideOutDown {
	from {
		transform: translateY(0);
		padding: 30px 40px 60px;
		font-size: inherit;
	}

	to {
		visibility: hidden;
		transform: translateY(100%);
		padding: 0 7px 0;
		font-size: 0;
	}
}
@keyframes slideInUp {
	from {
		transform: translateY(100%);
		visibility: hidden;
		padding: 0 7px 0;
	}

	to {
		transform: translateY(0);
		padding: 30px 40px 60px;
	}
}
.accordion-outer {
	background: #081420;
}
.accordion {
	height: 473px;
	max-width: 1399px;
	margin: 0 auto;
	display: flex;
	overflow: hidden;
	border-bottom: 3px solid #081420;
	border-right: 3px solid #081420;
	&__item {
		border-left: 3px solid #081420;
		transition: all .4s ease-in;
		width: 12%;
		@for $i from 1 through 6 {
			&:nth-child(#{$i}){
				background: url(../images/accordion#{$i}.jpg) 50% 50% no-repeat;
			}
		}
		.service {
			display: table;
			width: 100%;
			height: 100%;
			color: #fff;
			&__inner {
				display: table-cell;
				vertical-align: bottom;
				position: relative;
			}
			&__content {
				animation: slideOutDown .4s linear forwards;
			}
			&__title {
				font-family: $roboto-c;
				@include fluidFontSize(18,22,1200,1400);
				visibility: visible;
				position: absolute;
				bottom: calc(100% + 90px);
			}
		}
		&_act {
			width: 40%;
			.service__content {
				animation: slideInUp .4s linear forwards;
			}
			.service__title {
				bottom: 100%;
				@include font(30,34);
			}
		}
		&:first-child {
			border-left: 3px solid #081420;
		}
	}
}
