.cabinet-outer {
	.contacts {
		margin-bottom: 20px;
		&__item {
			display: flex;
			span:first-child {
				width: 100px;
			}
		}
	}
}
.map {
	height: 470px;
	@include breakpoint (mobile){
		height: 350px;
	}
}

.map-wrapper {
	position: relative;
}
