.slider-head {
	@include clearfix;
}
/**** ARROWS ****/
.slider-arrow {
	text-indent: -9999px;
	&:hover {
		cursor: pointer;
	}
	&.left {
		left: 13px;
		@include sprite($arrow_left);
	}
	&.right {
		right: 13px;
		@include sprite($arrow_right);
	}
}

/**** SLIDER 1 ****/

.partner-slider {
	@include clearfix;
}

