@mixin button($size: 14, $color: $red, $color2: #fff, $invert: false) {
	@include font($size, $size, 700, $font: $roboto-c);
	padding: ($size - 4)+px;
	background: transparent;
	color: $color;
	border: 3px solid $color;
	border-radius: 4px;
	text-transform: uppercase;
	transition: all 0.3s ease-in;

	@if $invert == invert {
		color: $color2;
		border: 3px solid $color2;
		background: $color;
	}

	&:hover,
	&:focus {
		color: $color2;
		border: 3px solid $color2;
		background: $color;
		box-shadow: 0 0 1px 0 $color;

		@if $invert == invert {
			color: $color;
			border: 3px solid $color;
			background: $color2;
		}
	}
}
