// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 441px;
$arrow-left-y: 106px;
$arrow-left-offset-x: -441px;
$arrow-left-offset-y: -106px;
$arrow-left-width: 11px;
$arrow-left-height: 22px;
$arrow-left-total-width: 452px;
$arrow-left-total-height: 332px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (441px, 106px, -441px, -106px, 11px, 22px, 452px, 332px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 441px;
$arrow-right-y: 84px;
$arrow-right-offset-x: -441px;
$arrow-right-offset-y: -84px;
$arrow-right-width: 11px;
$arrow-right-height: 22px;
$arrow-right-total-width: 452px;
$arrow-right-total-height: 332px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (441px, 84px, -441px, -84px, 11px, 22px, 452px, 332px, '../images/sprite.png', 'arrow_right', );
$causes2-hov-name: 'causes2-hov';
$causes2-hov-x: 178px;
$causes2-hov-y: 0px;
$causes2-hov-offset-x: -178px;
$causes2-hov-offset-y: 0px;
$causes2-hov-width: 96px;
$causes2-hov-height: 78px;
$causes2-hov-total-width: 452px;
$causes2-hov-total-height: 332px;
$causes2-hov-image: '../images/sprite.png';
$causes2-hov: (178px, 0px, -178px, 0px, 96px, 78px, 452px, 332px, '../images/sprite.png', 'causes2-hov', );
$causes2-name: 'causes2';
$causes2-x: 0px;
$causes2-y: 89px;
$causes2-offset-x: 0px;
$causes2-offset-y: -89px;
$causes2-width: 96px;
$causes2-height: 78px;
$causes2-total-width: 452px;
$causes2-total-height: 332px;
$causes2-image: '../images/sprite.png';
$causes2: (0px, 89px, 0px, -89px, 96px, 78px, 452px, 332px, '../images/sprite.png', 'causes2', );
$causes3-hov-name: 'causes3-hov';
$causes3-hov-x: 274px;
$causes3-hov-y: 71px;
$causes3-hov-offset-x: -274px;
$causes3-hov-offset-y: -71px;
$causes3-hov-width: 80px;
$causes3-hov-height: 85px;
$causes3-hov-total-width: 452px;
$causes3-hov-total-height: 332px;
$causes3-hov-image: '../images/sprite.png';
$causes3-hov: (274px, 71px, -274px, -71px, 80px, 85px, 452px, 332px, '../images/sprite.png', 'causes3-hov', );
$causes3-name: 'causes3';
$causes3-x: 372px;
$causes3-y: 0px;
$causes3-offset-x: -372px;
$causes3-offset-y: 0px;
$causes3-width: 80px;
$causes3-height: 84px;
$causes3-total-width: 452px;
$causes3-total-height: 332px;
$causes3-image: '../images/sprite.png';
$causes3: (372px, 0px, -372px, 0px, 80px, 84px, 452px, 332px, '../images/sprite.png', 'causes3', );
$causes4-hov-name: 'causes4-hov';
$causes4-hov-x: 0px;
$causes4-hov-y: 254px;
$causes4-hov-offset-x: 0px;
$causes4-hov-offset-y: -254px;
$causes4-hov-width: 87px;
$causes4-hov-height: 78px;
$causes4-hov-total-width: 452px;
$causes4-hov-total-height: 332px;
$causes4-hov-image: '../images/sprite.png';
$causes4-hov: (0px, 254px, 0px, -254px, 87px, 78px, 452px, 332px, '../images/sprite.png', 'causes4-hov', );
$causes4-name: 'causes4';
$causes4-x: 274px;
$causes4-y: 156px;
$causes4-offset-x: -274px;
$causes4-offset-y: -156px;
$causes4-width: 87px;
$causes4-height: 78px;
$causes4-total-width: 452px;
$causes4-total-height: 332px;
$causes4-image: '../images/sprite.png';
$causes4: (274px, 156px, -274px, -156px, 87px, 78px, 452px, 332px, '../images/sprite.png', 'causes4', );
$causes5-hov-name: 'causes5-hov';
$causes5-hov-x: 274px;
$causes5-hov-y: 0px;
$causes5-hov-offset-x: -274px;
$causes5-hov-offset-y: 0px;
$causes5-hov-width: 98px;
$causes5-hov-height: 71px;
$causes5-hov-total-width: 452px;
$causes5-hov-total-height: 332px;
$causes5-hov-image: '../images/sprite.png';
$causes5-hov: (274px, 0px, -274px, 0px, 98px, 71px, 452px, 332px, '../images/sprite.png', 'causes5-hov', );
$causes5-name: 'causes5';
$causes5-x: 84px;
$causes5-y: 167px;
$causes5-offset-x: -84px;
$causes5-offset-y: -167px;
$causes5-width: 98px;
$causes5-height: 71px;
$causes5-total-width: 452px;
$causes5-total-height: 332px;
$causes5-image: '../images/sprite.png';
$causes5: (84px, 167px, -84px, -167px, 98px, 71px, 452px, 332px, '../images/sprite.png', 'causes5', );
$causes6-hov-name: 'causes6-hov';
$causes6-hov-x: 0px;
$causes6-hov-y: 167px;
$causes6-hov-offset-x: 0px;
$causes6-hov-offset-y: -167px;
$causes6-hov-width: 84px;
$causes6-hov-height: 87px;
$causes6-hov-total-width: 452px;
$causes6-hov-total-height: 332px;
$causes6-hov-image: '../images/sprite.png';
$causes6-hov: (0px, 167px, 0px, -167px, 84px, 87px, 452px, 332px, '../images/sprite.png', 'causes6-hov', );
$causes6-name: 'causes6';
$causes6-x: 178px;
$causes6-y: 78px;
$causes6-offset-x: -178px;
$causes6-offset-y: -78px;
$causes6-width: 84px;
$causes6-height: 87px;
$causes6-total-width: 452px;
$causes6-total-height: 332px;
$causes6-image: '../images/sprite.png';
$causes6: (178px, 78px, -178px, -78px, 84px, 87px, 452px, 332px, '../images/sprite.png', 'causes6', );
$causes7-hov-name: 'causes7-hov';
$causes7-hov-x: 0px;
$causes7-hov-y: 0px;
$causes7-hov-offset-x: 0px;
$causes7-hov-offset-y: 0px;
$causes7-hov-width: 89px;
$causes7-hov-height: 89px;
$causes7-hov-total-width: 452px;
$causes7-hov-total-height: 332px;
$causes7-hov-image: '../images/sprite.png';
$causes7-hov: (0px, 0px, 0px, 0px, 89px, 89px, 452px, 332px, '../images/sprite.png', 'causes7-hov', );
$causes7-name: 'causes7';
$causes7-x: 89px;
$causes7-y: 0px;
$causes7-offset-x: -89px;
$causes7-offset-y: 0px;
$causes7-width: 89px;
$causes7-height: 89px;
$causes7-total-width: 452px;
$causes7-total-height: 332px;
$causes7-image: '../images/sprite.png';
$causes7: (89px, 0px, -89px, 0px, 89px, 89px, 452px, 332px, '../images/sprite.png', 'causes7', );
$causes8-hov-name: 'causes8-hov';
$causes8-hov-x: 372px;
$causes8-hov-y: 84px;
$causes8-hov-offset-x: -372px;
$causes8-hov-offset-y: -84px;
$causes8-hov-width: 69px;
$causes8-hov-height: 79px;
$causes8-hov-total-width: 452px;
$causes8-hov-total-height: 332px;
$causes8-hov-image: '../images/sprite.png';
$causes8-hov: (372px, 84px, -372px, -84px, 69px, 79px, 452px, 332px, '../images/sprite.png', 'causes8-hov', );
$causes8-name: 'causes8';
$causes8-x: 372px;
$causes8-y: 163px;
$causes8-offset-x: -372px;
$causes8-offset-y: -163px;
$causes8-width: 69px;
$causes8-height: 79px;
$causes8-total-width: 452px;
$causes8-total-height: 332px;
$causes8-image: '../images/sprite.png';
$causes8: (372px, 163px, -372px, -163px, 69px, 79px, 452px, 332px, '../images/sprite.png', 'causes8', );
$dot-act-name: 'dot_act';
$dot-act-x: 403px;
$dot-act-y: 263px;
$dot-act-offset-x: -403px;
$dot-act-offset-y: -263px;
$dot-act-width: 14px;
$dot-act-height: 14px;
$dot-act-total-width: 452px;
$dot-act-total-height: 332px;
$dot-act-image: '../images/sprite.png';
$dot-act: (403px, 263px, -403px, -263px, 14px, 14px, 452px, 332px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 438px;
$dot-y: 242px;
$dot-offset-x: -438px;
$dot-offset-y: -242px;
$dot-width: 14px;
$dot-height: 14px;
$dot-total-width: 452px;
$dot-total-height: 332px;
$dot-image: '../images/sprite.png';
$dot: (438px, 242px, -438px, -242px, 14px, 14px, 452px, 332px, '../images/sprite.png', 'dot', );
$ico-checkbox-off-name: 'ico-checkbox-off';
$ico-checkbox-off-x: 372px;
$ico-checkbox-off-y: 242px;
$ico-checkbox-off-offset-x: -372px;
$ico-checkbox-off-offset-y: -242px;
$ico-checkbox-off-width: 16px;
$ico-checkbox-off-height: 21px;
$ico-checkbox-off-total-width: 452px;
$ico-checkbox-off-total-height: 332px;
$ico-checkbox-off-image: '../images/sprite.png';
$ico-checkbox-off: (372px, 242px, -372px, -242px, 16px, 21px, 452px, 332px, '../images/sprite.png', 'ico-checkbox-off', );
$ico-checkbox-on-name: 'ico-checkbox-on';
$ico-checkbox-on-x: 388px;
$ico-checkbox-on-y: 242px;
$ico-checkbox-on-offset-x: -388px;
$ico-checkbox-on-offset-y: -242px;
$ico-checkbox-on-width: 16px;
$ico-checkbox-on-height: 21px;
$ico-checkbox-on-total-width: 452px;
$ico-checkbox-on-total-height: 332px;
$ico-checkbox-on-image: '../images/sprite.png';
$ico-checkbox-on: (388px, 242px, -388px, -242px, 16px, 21px, 452px, 332px, '../images/sprite.png', 'ico-checkbox-on', );
$ico-key-name: 'ico-key';
$ico-key-x: 404px;
$ico-key-y: 242px;
$ico-key-offset-x: -404px;
$ico-key-offset-y: -242px;
$ico-key-width: 17px;
$ico-key-height: 17px;
$ico-key-total-width: 452px;
$ico-key-total-height: 332px;
$ico-key-image: '../images/sprite.png';
$ico-key: (404px, 242px, -404px, -242px, 17px, 17px, 452px, 332px, '../images/sprite.png', 'ico-key', );
$ico-lock-name: 'ico-lock';
$ico-lock-x: 372px;
$ico-lock-y: 263px;
$ico-lock-offset-x: -372px;
$ico-lock-offset-y: -263px;
$ico-lock-width: 14px;
$ico-lock-height: 20px;
$ico-lock-total-width: 452px;
$ico-lock-total-height: 332px;
$ico-lock-image: '../images/sprite.png';
$ico-lock: (372px, 263px, -372px, -263px, 14px, 20px, 452px, 332px, '../images/sprite.png', 'ico-lock', );
$ico-search-blue-name: 'ico-search-blue';
$ico-search-blue-x: 421px;
$ico-search-blue-y: 242px;
$ico-search-blue-offset-x: -421px;
$ico-search-blue-offset-y: -242px;
$ico-search-blue-width: 17px;
$ico-search-blue-height: 14px;
$ico-search-blue-total-width: 452px;
$ico-search-blue-total-height: 332px;
$ico-search-blue-image: '../images/sprite.png';
$ico-search-blue: (421px, 242px, -421px, -242px, 17px, 14px, 452px, 332px, '../images/sprite.png', 'ico-search-blue', );
$ico-search-name: 'ico-search';
$ico-search-x: 386px;
$ico-search-y: 263px;
$ico-search-offset-x: -386px;
$ico-search-offset-y: -263px;
$ico-search-width: 17px;
$ico-search-height: 14px;
$ico-search-total-width: 452px;
$ico-search-total-height: 332px;
$ico-search-image: '../images/sprite.png';
$ico-search: (386px, 263px, -386px, -263px, 17px, 14px, 452px, 332px, '../images/sprite.png', 'ico-search', );
$spritesheet-width: 452px;
$spritesheet-height: 332px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $causes2-hov, $causes2, $causes3-hov, $causes3, $causes4-hov, $causes4, $causes5-hov, $causes5, $causes6-hov, $causes6, $causes7-hov, $causes7, $causes8-hov, $causes8, $dot-act, $dot, $ico-checkbox-off, $ico-checkbox-on, $ico-key, $ico-lock, $ico-search-blue, $ico-search, );
$spritesheet: (452px, 332px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
