// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 49px;
$arrow-left-y: 0px;
$arrow-left-offset-x: -49px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 11px;
$arrow-left-height: 22px;
$arrow-left-total-width: 71px;
$arrow-left-total-height: 55px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (49px, 0px, -49px, 0px, 11px, 22px, 71px, 55px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 60px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -60px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 11px;
$arrow-right-height: 22px;
$arrow-right-total-width: 71px;
$arrow-right-total-height: 55px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (60px, 0px, -60px, 0px, 11px, 22px, 71px, 55px, '../images/sprite.png', 'arrow_right', );
$dot-act-name: 'dot_act';
$dot-act-x: 31px;
$dot-act-y: 21px;
$dot-act-offset-x: -31px;
$dot-act-offset-y: -21px;
$dot-act-width: 14px;
$dot-act-height: 14px;
$dot-act-total-width: 71px;
$dot-act-total-height: 55px;
$dot-act-image: '../images/sprite.png';
$dot-act: (31px, 21px, -31px, -21px, 14px, 14px, 71px, 55px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 0px;
$dot-y: 41px;
$dot-offset-x: 0px;
$dot-offset-y: -41px;
$dot-width: 14px;
$dot-height: 14px;
$dot-total-width: 71px;
$dot-total-height: 55px;
$dot-image: '../images/sprite.png';
$dot: (0px, 41px, 0px, -41px, 14px, 14px, 71px, 55px, '../images/sprite.png', 'dot', );
$ico-checkbox-off-name: 'ico-checkbox-off';
$ico-checkbox-off-x: 0px;
$ico-checkbox-off-y: 0px;
$ico-checkbox-off-offset-x: 0px;
$ico-checkbox-off-offset-y: 0px;
$ico-checkbox-off-width: 16px;
$ico-checkbox-off-height: 21px;
$ico-checkbox-off-total-width: 71px;
$ico-checkbox-off-total-height: 55px;
$ico-checkbox-off-image: '../images/sprite.png';
$ico-checkbox-off: (0px, 0px, 0px, 0px, 16px, 21px, 71px, 55px, '../images/sprite.png', 'ico-checkbox-off', );
$ico-checkbox-on-name: 'ico-checkbox-on';
$ico-checkbox-on-x: 16px;
$ico-checkbox-on-y: 0px;
$ico-checkbox-on-offset-x: -16px;
$ico-checkbox-on-offset-y: 0px;
$ico-checkbox-on-width: 16px;
$ico-checkbox-on-height: 21px;
$ico-checkbox-on-total-width: 71px;
$ico-checkbox-on-total-height: 55px;
$ico-checkbox-on-image: '../images/sprite.png';
$ico-checkbox-on: (16px, 0px, -16px, 0px, 16px, 21px, 71px, 55px, '../images/sprite.png', 'ico-checkbox-on', );
$ico-key-name: 'ico-key';
$ico-key-x: 32px;
$ico-key-y: 0px;
$ico-key-offset-x: -32px;
$ico-key-offset-y: 0px;
$ico-key-width: 17px;
$ico-key-height: 17px;
$ico-key-total-width: 71px;
$ico-key-total-height: 55px;
$ico-key-image: '../images/sprite.png';
$ico-key: (32px, 0px, -32px, 0px, 17px, 17px, 71px, 55px, '../images/sprite.png', 'ico-key', );
$ico-lock-name: 'ico-lock';
$ico-lock-x: 0px;
$ico-lock-y: 21px;
$ico-lock-offset-x: 0px;
$ico-lock-offset-y: -21px;
$ico-lock-width: 14px;
$ico-lock-height: 20px;
$ico-lock-total-width: 71px;
$ico-lock-total-height: 55px;
$ico-lock-image: '../images/sprite.png';
$ico-lock: (0px, 21px, 0px, -21px, 14px, 20px, 71px, 55px, '../images/sprite.png', 'ico-lock', );
$ico-search-name: 'ico-search';
$ico-search-x: 14px;
$ico-search-y: 21px;
$ico-search-offset-x: -14px;
$ico-search-offset-y: -21px;
$ico-search-width: 17px;
$ico-search-height: 14px;
$ico-search-total-width: 71px;
$ico-search-total-height: 55px;
$ico-search-image: '../images/sprite.png';
$ico-search: (14px, 21px, -14px, -21px, 17px, 14px, 71px, 55px, '../images/sprite.png', 'ico-search', );
$spritesheet-width: 71px;
$spritesheet-height: 55px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $dot-act, $dot, $ico-checkbox-off, $ico-checkbox-on, $ico-key, $ico-lock, $ico-search, );
$spritesheet: (71px, 55px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
